* {
  box-sizing: border-box;
  margin: 0;
  }

body{
   background-color: rgb(254, 255, 233);
   height: 100vh;
   font-family: 'DM Sans' , sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select,
option {
   font-family: 'DM Sans', sans-serif;
   font-size: 16px;
   outline: none;
   box-shadow: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active,
select:active,
select:focus,
option:active,
option:focus{
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left:0;
  margin-left:0;
}

h1, .js-weather{
  color: #fff;
  font-size: 4.5rem;
  line-height: 1;
}

button {
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  font-size: 12px;
  color: #fc7e35;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

h4{
  z-index: 1;
  transition: all 1s;
}

.box {
  position: relative;
  height: 100vh;
}

.js-clock{
  position: absolute;
  padding:15px;
}

.js-title{
 display: inline-block;
}

.none{
  display: inline-block;
  width: 70px;
  height: 70px;
}

.none img{
  width: 70px;
  height: 70px;
}

.js-weather{
  display: block;
  font-size: 1rem;
  line-height: 1.6;
  padding-left: 12px;
  color:rgba(42, 42, 42, 0.6);
}

.form
{
  opacity:0;
}

.greet-box{
  margin-bottom: 30px;
}

.js-toDoForm {
  margin-bottom: 100px;
}

.form-box, .greet-box {
  width: 300px;
  margin: 0 auto;
  position: relative;
}

#name {
  margin: 0 auto;
  top: -20px;
  position: absolute;
  color: rgb(209, 209, 209);
}

.js-toDoForm input,
.js-form-input {
  display: block;
  font-size: 22px;
  line-height: 1.090909090909091;
  letter-spacing: -0.02em;
  padding: 5px 10px;
  min-width: 300px;
  max-width: 500px;
  border: none;
  border-bottom: 2px solid #7b7b7e;
  font-family: 'DM Sans', sans-serif;
  background-color: transparent;
  margin: 0 auto;
}

.js-toDoForm input::placeholder,
.js-form-input::placeholder {
  color: #fff;
}

.js-toDoForm input:focus,
.js-form-input:focus {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.090909090909091;
  letter-spacing: -0.02em;
  color: #fc7e35;
  border-bottom: 2px solid rgba(209, 209, 209, 0.72);
  font-family: 'DM Sans', sans-serif;
  background-color:  rgba(0, 0, 0, 0.3);
}

.js-toDoForm input:focus::placeholder,
.js-form-input:focus::placeholder {
  opacity: 0;
}

.js-greeting {
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 7%;
  color: #fc7e35;
  margin-top: -70px;
  transition: all,2500ms ease-in-out;
  animation-name: blink-animation;
  animation-timing-function: ease-in-out;
  animation-duration: 3000ms;
  animation-iteration-count: 3;
}

@keyframes blink-animation {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.show {
  opacity: 1;
}

.js-toDoListBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.todo-title {
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.todo-list {
  width: 350px;
  min-height: 200px;
  max-height: 800px;
  padding:15px;
  border-radius: 8px;
  margin:0 30px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
            0px 4px 6px rgba(0, 0, 0, 0.05),
            inset 0px 1px 0px rgba(255, 255, 255, 0.1);

}

.js-toDoList li, .js-toDofinishList li{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.714285714285714;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
  color: rgba(#000000, 0.83);
}

.js-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:100px;
}

#todo {
  margin: 0 auto;
  top: -20px;
  position: absolute;
  color: rgb(209, 209, 209);
}

.star {
  display:none;
  padding:0;
  width:20px;
  height: 20px;
  margin-right: 5px;
}

.star-label{
  height: 30px;
  width: 30px;
}

.star + .star-label {
  display:inline-block;
  background-image: url("images/star.png");
  background-size: contain;
  background-position: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all 0.35s;
}

.star:checked + label {
  background: url("images/starclicked.png");
  background-size: contain;
  background-position: center;
}

.li{
  display: flex;
  align-items: center;
}

.userToDoList{
  width: 820px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#user-todo-list {
  font-size: 24px;
  color: #fc7e35;
  line-height: 1.333333333333333333;
  margin-bottom: 20px;
  height: 31.2px;
}
